@model Anubis.Web.Models.ApplicationModel
@{
    ViewBag.Title = @Model.Name;
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}

<p>
    This is the dashboard for the application.You can see all a count of all logged messages for each 
    data centre.
</p>
<div>
    <strong>West Europe</strong>
    <img src="~/Images/ajax-loader.gif" />
</div>
