@{
    ViewBag.Title = "Index";
}

<h2>Welcome</h2>
<p>This is your Anubis dasboard.</p>
<h3>Your Applications</h3>
<p>
    You haven't got any applications registered. In order to register your first application, you need
    to follow our simple setup instructions. It takes less than one minute to integrate Anubis into your application
    and after that you should start receiving logging.
</p>
