@model Anubis.Web.Models.CreateApplicationModel
@{
    ViewBag.Title = "Create New Application";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
@section BarButton
{
    <button class="btn"></button>
}

@using(Html.BeginForm())
{
    @Html.LabelFor(m => m.ApplicationName)
    @Html.TextBoxFor(m => m.ApplicationName)
}
