@model Anubis.Web.Models.CreateApplicationModel
@{
    ViewBag.Title = "Create New Application";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
@section BarButton
{
    <button class="btn">Cancel</button>
}

@using (Html.BeginForm())
{
    <p>
        @Html.LabelFor(m => m.ApplicationName)
        @Html.TextBoxFor(m => m.ApplicationName)
    </p>
    <button class="btn">Save</button>
    <button class="btn">Cancel</button>
}
