@{
    ViewBag.Title = "Applications";
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
@section BarButton
{
    <a class="btn btn-primary" href="@Url.Action("Create")">
        Create New Application
    </a>
}
