<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true">

  <extensions>
    <add assembly="Anubis.Client"/>
  </extensions>

  <targets async="true">
    <target xsi:type="AnubisTarget" name="loggingCentral" code="1G9IGV9J1" layout="${longdate} ${uppercase:${level}} ${message}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="loggingCentral" />
  </rules>
</nlog>