@{
    ViewBag.Title = "Getting Started";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style type="text/css">
    img {
        margin: 10px;
        border: 2px solid #888;
        padding: 5px;
    }
</style>
<h2>Getting Started</h2>
<p>
    To get started with LoggingCentral, you must first create a new Application. An
  application represents
    your Azure application. Logs generated will stored within that application and
  will help you manage them.
    On the Applications page, click the "Add new application" button. This will open
  a dialog.
</p>
<img src="~/Images/Help/AddApplicationDialog.PNG" style="width: 400px;" />
<p>
    Once you have added your application, it will in your list of Applications.
</p>
<img src="~/Images/Help/ApplicationList.PNG" />
<p>
    Select the application you have just added by clicking on its name. Your application
  will be running within one or several of the Azure 
    data centres. You must now add the various regions that host your application.
  Click the "Monitor New Region" and choose the region. Repeast
    this process for all the regions you want to monitor.
</p>
<img src="~/Images/Help/MonitorNewRegionDialog.PNG" />
<p>
    Once you've added a region, you will be able to see the number of log messages generated.
  As this is a new application and you haven't yet
    integrated LoggingCentral into your app, this will read NO DATA.
</p>
<img src="~/Images/Help/RegionMetric.PNG" />
<p>
    You're now ready to integrate LoggingCentral into your application so that your
  log messages will be received and displayed within the LoggingCentral 
    platform.
</p>
<h2>Installation</h2>
<p>
    No that you have added the application and its regions to Logging Central, you must
  now configure your application to send its logs to Logging Central. To get started,
  you should first note your applications Logging Code. On the Application's
  page, hit the "App Details" button and not the <span style="font-weight: bold">Application
    Code</span>.
</p>
<img src="~/Images/Help/AppDetailsDialog.PNG" />
<p>
    You can add now add the LoggingCentral to the WebSite, WebRole or WorkerRole you
  want to send logging messages from. Just add the LoggingCentral library from NuGet.
</p>
<img src="~/Images/Help/LoggingCentralNuGet.PNG" />
<h2>Using Diagnostics.Trace</h2>
<p>
    To have your Trace messages sent to LoggingCentral, you need to make two modifications to your config file. First, you must 
    add your Application's code to AppSettings.
</p>
<div class="code">
    <pre>
&lt;appSettings&gt;
    &lt;add key="LoggingCentralCode" value="[YOUR APPLICATION CODE GOES HERE]"/&gt;
&lt;/appSettings&gt;
    </pre>
</div>
<div class="alert">
    Be sure to replace [YOUR APPLICATION CODE GOES HERE] with your own Application code.
</div>
<p>
    Next, you must add a trace listener for LoggingCentral.
</p>
<div class="code">
    <pre>
&lt;system.diagnostics&gt;
    &lt;trace&gt;
        &lt;listeners&gt;
            &lt;add type="LoggingCentral.Clients.Trace.LoggingCentralTraceListener, LoggingCentral" name="LoggingCentralDiagnostics"&gt;
                &lt;/add&gt;
        &lt;/listeners&gt;
    &lt;/trace&gt;
&lt;/system.diagnostics&gt;</pre>
</div>
<p>
    Once you've added the trace listener configuration, your trace statements should start flowing through to LoggingCentral. If you don't receive any messages, 
    double check that your APPLICATION CODE value is correct.
</p>
<h2>Using NLog</h2>
<p>
    To log to LoggingCentral with NLog requires you to add a new Target. Open your application's <span style="font-weight: bold">NLog.config</span>. Your
  target is added like this:
</p>
<div class="code">
    <pre>
&lt;?xml version="1.0" encoding="utf-8" ?&gt;
&lt;nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"&gt;

  &lt;!-- This brings in the LoggingCentral library --&gt;
  &lt;extensions&gt;
    &lt;add assembly="LoggingCentral"/&gt;
  &lt;/extensions&gt;

  &lt;!-- This target sends your log messages to LoggingCentral.  --&gt; 
  &lt;!-- Use the Application Code you noted earlier. --&gt;
  &lt;targets async="true"&gt;
    &lt;target xsi:type="AnubisTarget" name="lc" code="[YOUR APPLICATION CODE GOES HERE]" layout="${message}" /&gt;
  &lt;/targets&gt;

  &lt;rules&gt;
    &lt;logger name="*" minlevel="Debug" writeTo="lc" /&gt;
  &lt;/rules&gt;
&lt;/nlog&gt;</pre>
</div>
<div class="alert">
    Be sure to replace [YOUR APPLICATION CODE GOES HERE] with your own Application code.
</div>
<p>
  With that, all that's left is to invoke your application and have it generate some logging. Once you've
  generated a few logging statements you can refresh your Application's dashboard and you should see data reported!
</p>
<h2>The Logs must flow</h2>
<p>
    Once you've updated your configuration and run your application, LoggingCentral should have captured some logs, so just refresh the application and you should see your 
    selected region reporting it has data. 
</p>
<img src="~/Images/Help/RegionMetricWithCount.PNG" />
<p>
    If you don't see any data, check your APPLICATION_CODE values are set and correct. Also ensure you're not filtering the outgoing logs by level.
</p>
<p>
    May your logs never contain errors!
</p>
