@{
  ViewBag.Title = "Index";
}

<h2>Test</h2>
<p>
  Click this button below to generate some logging.
</p>

@using (Html.BeginForm())
{
  <h4>Trace</h4>
  <input type="hidden" name="level" value="trace" />
  <input type="text" name="message" /><br />
  <button class="btn btn-info">Generate Trace</button>
}

@using (Html.BeginForm())
{
  <h4>Error</h4>
  <input type="hidden" name="level" value="trace" />
  <input type="text" name="message" /><br />
  <button class="btn btn-info">Generate Error</button>
}
