<div class="jumbotron">
  <h1>Manage Windows Azure Logging!</h1>
  <p class="lead">Powerful logging for Windows Azure that works right out-of-the-box.
  </p>
  <a class="btn btn-large btn-success" href="@Url.Action("Signup")">Sign up today</a>
</div>

<hr>

<div class="row-fluid marketing">
  <div class="span6">
    <h4>Setup is Simple</h4>
    <p>
      All you need is our NuGet package and an access key to start capturing your Azure
      trace logs. No messing with Azure Storage. 
    </p>

    <h4>Analyse Your Logs</h4>
    <p>You can analyse your logs by sorting and filtering them, identifying errors and
      common patterns.</p>

  </div>

  <div class="span6">
    <h4>Logging in realtime</h4>
    <p>Your trace messages are processed and made available to you in real time.</p>

    <h4>Get Alerts of big problems</h4>
    <p>Setup alerting so you can be notified of any major errors in your application,
      enabling you to respond quickly.</p>

  </div>
</div>
