<div class="jumbotron">
    <h1>Simplify Windows Azure Logging</h1>
    <p class="lead">
        Powerful logging for Windows Azure that works right out-of-the-box. <br />No Fuss.
    </p>
    <a class="btn btn-large btn-success" href="@Url.Action("Signup")">Sign up today</a>
</div>
<hr>
<div class="row-fluid marketing"style="margin-bottom:10px;">
    <div class="span6">
        <h4>Setup is Simple</h4>
        <p>
            All you need is our NuGet package and an access key to start capturing your Azure
      trace logs. No messing with Azure Storage. 
        </p>
    </div>
    <div class="span6">
        <h4>Log in realtime</h4>
        <p>Your trace messages are processed and made available to you in real time.</p>
    </div>
</div>
<div class="row-fluid marketing" style="margin-top:10px;">
    <div class="span6">
        <h4>Analyse Your Logs</h4>
        <p>
            You can analyse your logs by sorting and filtering them, identifying errors and
      common patterns.
        </p>
    </div>
    <div class="span6">
        <h4>Get alerts for big problems</h4>
        <p>
            All our code has bugs, so get notified early if any error or warning messages are logged by your application.
        </p>
    </div>
</div>