@{
    ViewBag.Title = "Pricing";
}

<h2>Pricing</h2>

<table style="width:100%">
    <tr>
        <th></th>
        <th>Developer</th>
        <th>Small Business</th>
        <th>Large Business</th>
    </tr>
    <tr>
        <td>Logs per month</td>
        <td>1000</td>
    </tr>
</table>
