@{
  ViewBag.Title = "Contact";
}
<h2>Hello. Come in and close the door.</h2>
<p>
  We're not quite ready to launch Anubis (just a codename!), but rest assured that we're busy putting the finishing
  touches on it! As soon as it's ready we'd love you to come back and check
  it out. If you would like us to send you a reminder of when it's ready, just pop
  your email address in below.
</p>
<p>
  @using (Html.BeginForm())
  {
    <input type="text" name="emailAddress" placeholder="Your email address" style="width: 300px;" /><br />
    <button type="submit" class="btn btn-primary">Remind Me</button>
  }
</p>
