@{
  ViewBag.Title = "Contact";
}
<h2>Pricing</h2>

<div class="row">
  <div class="span7">
    <p>
      We want to keep the pricing as simple as possible.
    </p>
    <span style="font-size: 34px;">£4.99 per app per month
    </span>
  </div>
  <div class="span2">
    <a href="@Url.Action("Register","Account")" class="btn btn-success btn-large">Sign up now</a>
  </div>
</div>
<div class="alert alert-success" style="margin-top:20px;">
    <h4>Logging Central is FREE during the beta period so try it out!</h4>
</div>
<hr />
<div class="row">
  <div class="span3">
    <h4><i class="icon-calendar"></i> 30 Day Retention</h4>
    Each of your log messages is held for a total of 30 days.
  </div>
  <div class="span3">
    <h4>10,000 Log Messages</h4>
    You can log up to 10,000 messages per month which gives you plenty of scope.
  </div>
  <div class="span3">
    <h4><i class="icon-globe"></i> Multiple Regions</h4>
    Capture logs for multiple Azure regions, helping you narrow down problems.
  </div>
</div>
