@model Anubis.Web.Models.ApplicationLogModel
@{
    ViewBag.Title = string.Format("{0} - {1}", Model.ApplicationName, Model.RegionName);
    Layout = "~/Views/Shared/_WideLayout.cshtml";
}
@section BarButton {
    @using (Html.BeginForm())
    {
        <button class="btn btn-primary">Refresh</button>
    }
}
<table class="table table-bordered">
    <thead>
        <tr>
            <th style="width:200px;">Date</th>
            <th style="width:100px;">Level</th>
            <th>Message</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var log in Model.LogMessages)
        {
            <tr>
                <td style="border-left-color: red; border-left-width: 2px;">@log.Timestamp</td>
                <td>@log.LogLevel</td>
                <td>@log.Message</td>
            </tr>
        }
    </tbody>
</table>
